{% extends "base.html.twig" %}
{% block title %}Чат{% endblock %}
{% block body %}
    <p>Привет {{ login }}</p>
    {% if error is defined %}
        <p>{{ error }}</p>
    {% endif %}
    <iframe id="chatWindow" src="{{ path('chat_window') }}#end" width="500" height="250" align="left">
    </iframe>

    {{ form(form) }}
{% endblock %}

{% block javascripts %}
    <script>
        function updateIframe(){
            var request = new XMLHttpRequest();

            request.addEventListener('readystatechange', function() {
                if (request.readyState == 4 && request.status == 200) {
                    document.getElementById('chatWindow').contentWindow.document.body.innerHTML = request.responseText;
                    setTimeout('updateIframe()', 1000);
                }
            });
            request.open("GET", "{{ path('chat_window') }}", true);
            request.send();
        }

        window.onload = function () {
            updateIframe();

            var formButton = document.forms['form'].elements['form_send'];

            formButton.addEventListener('click', function(event) {
                event.preventDefault();
                var data = new FormData(document.forms['form']);
                console.log(data);
                if (data) {
                    var request = new XMLHttpRequest();

                    request.open('POST', '{{ path('chat') }}');
                    request.responseType = 'json';
                    request.addEventListener('readystatechange', function () {
                        if (request.readyState == 4 && request.status == 200) {
                            if (request.response.status == 'error') {
                                alert(request.response.msg);
                            }
                        }
                    });
                    request.send(data);
                }
            });
        }
    </script>
{% endblock %}